.carousel{
    display:flex;
    flex-direction: column;
}

 .alice-carousel__wrapper{
    margin-top: 30px; 

}

.carouselItem{
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    /* justify-content: space-around; */
}

